* {
    -fx-accent: #008eff;
}

#root {
    -fx-background-color: white;
}

.item {
    -fx-pref-height: 50px;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: Infinity;
    -fx-padding: 5px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.item:hover {
    -fx-background-color: -fx-accent;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.item:selected {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

.split-pane .split-pane-divider {
    -fx-background-color: lightgray;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-accent;
}

.list-cell:filled:selected:focused .label, .list-cell:filled:selected .label {
    -fx-text-fill: white;
}

SVGPath {
    -fx-fill: black;
}

.slider .track {
    -fx-background-color: lightgray;
}

.slider .thumb {
    -fx-background-color: -fx-accent;
}

.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.menu-bar {
    -fx-background-color: white;
}

.menu-item {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-color: -fx-accent;
}

.menu-item:hover .label {
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: lightgray;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: white;
    -fx-background-radius: 0px;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:focused {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

.combo-box .arrow-button {
    -fx-cursor: hand;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: black;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
}
